<h1 mat-dialog-title>Бронирование подарка</h1>
<mat-dialog-content>
  <form [formControl]="nameControl">
    <mat-form-field appearance="fill">
      <mat-label>Ваше имя</mat-label>
      <input [formControl]="nameControl" [value]="storedName" matInput placeholder="Введите имя" />
      <mat-error *ngIf="nameControl.invalid">Имя обязательно</mat-error>
    </mat-form-field>
    <div mat-dialog-actions>
      <button (click)="dialogRef.close()" mat-button>Отмена</button>
      <button (click)="reserve()" [disabled]="nameControl.invalid" color="primary" mat-raised-button>Забронировать
      </button>
    </div>
  </form>
</mat-dialog-content>
