.item-card {
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  line-break: anywhere;

  span {
    font-weight: bold;
  }

  .image-wrapper {
    height: auto;
    max-height: 70vh;
    max-width: 70vw;
    overflow: hidden;
    border-radius: 8px;
    align-self: center;
  }

  img {
    object-fit: cover;
    height: auto;
    width: 100%;
    max-width: 720px;
  }

  &_clickable {
    cursor: pointer;
  }
}

mat-card-title {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

mat-card-content {
  p {
    margin: 0.5em 0;
  }
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
  flex-wrap: wrap;
  gap: 0.2rem;
}
