.item-card {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  line-break: anywhere;

  span {
    font-weight: bold;
  }

  img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    max-width: 400px;
    border-radius: 4px;
  }
}

mat-card-title {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

mat-card-content {
  p {
    margin: 0.5em 0;
  }
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  flex-wrap: wrap;
}
