<mat-toolbar class="toolbar" color="primary">
  <div class="toolbar__menu">
    <span class="logo" routerLink="">🎁</span>
    <span class="tab" routerLink="/list/{{commonId.route}}">{{ commonId.name }}</span>
    @if (isAdmin()) {
      @for (item of otherListIds; track item.route) {
        <span class="tab" routerLink="/list/{{item.route}}">{{ item.name }}</span>
      }
      <span class="tab" routerLink="/admin">Админ</span>
    }
  </div>
  <span class="spacer"></span>

  <p class="device">deviceId: {{ fingerprintService.getDeviceId() }}</p>

  <button (click)="toggleTheme()" [matTooltip]="currentTheme() === 'dark' ? 'Светлая тема' : 'Тёмная тема'"
          mat-icon-button>
    <mat-icon>{{ currentTheme() === 'dark' ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>

  @if (isAdmin()) {
    <button (click)="logoutAdmin()" mat-icon-button matTooltip="Выйти из админки">
      <mat-icon>logout</mat-icon>
    </button>
  } @else {
    <button (click)="loginAsAdmin()" mat-icon-button matTooltip="Войти в админку">
      <mat-icon>lock</mat-icon>
    </button>
  }
</mat-toolbar>

<router-outlet />
