<mat-toolbar class="toolbar" color="primary">
  <span class="logo">🎁 Лист желаний</span>
  <span class="spacer"></span>

  <button (click)="toggleTheme()" [matTooltip]="currentTheme() === 'dark' ? 'Светлая тема' : 'Тёмная тема'"
          mat-icon-button>
    <mat-icon>{{ currentTheme() === 'dark' ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>

<!--  <button (click)="login()" *ngIf="!user()" mat-button>Войти</button>-->
<!--  <button (click)="logout()" *ngIf="user()" mat-button>Выйти</button>-->
</mat-toolbar>

<router-outlet />
