:host {
  display: block;
  min-height: 100dvh;
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--mat-sys-tertiary);

  &__menu {
    display: flex;
    overflow: auto;
  }
}

.spacer {
  flex: 1 1 auto;
}

.tab, logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.tab {
  cursor: pointer;
  padding: 0.25rem 0.75rem;

  &:hover {
    font-weight: normal;
  }
}

@media (max-width: 420px) {
  mat-toolbar {
    overflow: auto;
  }
  .tab, logo {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
  }
}

.device {
  position: absolute;
  bottom: 8px;
  left: 10px;
  font-size: 0.5rem;
  height: 0.5rem;
}
