<mat-card (click)="expand()" [class.item-card_clickable]="!cardExpanded || !expanded"
          [class.item-card_disabled]="!!item.reservedBy" class="item-card">
  <mat-card-title>
    {{ item.title }}
    @if (!item.isActive) {
      <mat-chip>Не активен</mat-chip>
    }
  </mat-card-title>

  @if (cardExpanded || expanded) {
    @if (item.imageData) {
      <div class="image-wrapper">
        <img loading="lazy" [src]="item.imageData" alt="Изображение подарка" mat-card-image />
      </div>
    }
    <mat-card-content>
      <p>{{ item.description }}</p>
      @if (item.reservedBy) {
        <p><span>Забронировано:</span> {{ item.reservedBy }}, {{ item.reservedAt | date: 'dd.MM.yyyy HH:mm:ss' }}
        </p>
        <p><span>deviceID:</span> {{ item.reservedDeviceId }}</p>
      }
    </mat-card-content>
    <mat-card-actions>
      @if (item.link) {
        <button mat-button><a href="{{ item.link }}" target="_blank">Посмотреть ссылку</a></button>
      }
      <button (click)="openEditDialog.emit(item)" mat-button>Редактировать</button>
      <button (click)="deleteItem.emit(item.id)" color="warn" mat-button>Удалить</button>
      @if (item.reservedBy) {
        <button
          (click)="cancelReservation.emit(item)"
          color="accent"
          mat-button
        >
          Отменить бронирование
        </button>
      }
    </mat-card-actions>
  } @else {
    Развернуть для просмотра
  }

  <ng-content></ng-content>
</mat-card>
