.admin-actions {
  display: flex;

  button {
    width: 100%;
    margin: 2rem;
  }
}

.admin-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item-card {
  margin-bottom: 10px;
  cursor: move;
}
