@use 'card-list';

.drag-handle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--mat-sys-secondary);
  cursor: move;
  width: 24px;
  height: 24px;
}

mat-button-toggle-group,
mat-button-toggle {
  width: 100%;
}

.button-selected.mat-mdc-raised-button:not(:disabled){
  background-color: var(--mat-sys-inverse-primary) ;
}
