<div class="admin-actions">
  <button (click)="openAddDialog()" color="primary" mat-raised-button>Добавить подарок</button>
</div>

<div class="admin-section">
  <h2>Все подарки</h2>
  <div (cdkDropListDropped)="drop($event)" cdkDropList>
    @for (item of items(); track i; let i = $index) {
      <mat-card
        cdkDrag
        class="item-card"
      >
        <mat-card-title>{{ item.title }}</mat-card-title>
        <mat-card-content>
          <p>{{ item.description }}</p>
          @if (item.link) {
            <a href="{{ item.link }}" target="_blank">Ссылка</a>
          }
          @if (item.reservedBy) {
            <p>Забронировано: {{ item.reservedBy }}</p>
          }
        </mat-card-content>
        <mat-card-actions>
          <button (click)="openEditDialog(item)" mat-button>Редактировать</button>
          <button (click)="deleteItem(item.id)" color="warn" mat-button>Удалить</button>
          @if (item.reservedBy) {
            <button
              (click)="cancelReservation(item.id)"
              color="accent"
              mat-button
            >
              Отменить бронирование
            </button>
          }
        </mat-card-actions>
      </mat-card>
    }


  </div>
</div>
