@use 'card-list';

.admin-actions {
  display: flex;

  button {
    width: 100%;
  }
}

.admin-section {
  display: flex;
  flex-direction: column;
}

.drag-handle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}
