@use '@angular/material' as mat;

@include mat.core();

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
  ),
  typography: (
    brand-family: Roboto,
  )
));

$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$violet-palette,
  ),
  typography: (
    brand-family: Roboto,
  )
));

.dark-theme {
  @include mat.core-theme($dark-theme);
}

.light-theme {
  @include mat.core-theme($light-theme);
}


html, body {
  height: 100%;
}

html {
  color-scheme: light dark;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
