@use 'styles/themes';

html, body {
  height: 100%;
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
  flex-flow: column;

  &.dark-theme {
    @include themes.dark-theme-mixin;
  }

  &.light-theme {
    @include themes.light-theme-mixin;
  }
}

* {
  box-sizing: border-box;
}
