<mat-card class="item-card">
  <mat-card-title>{{ item.title }}</mat-card-title>
  <mat-card-content>
    <p>{{ item.description }}</p>
    @if (item.link) {
      <a href="{{ item.link }}" target="_blank">Ссылка на подарок</a>
    }
    @if (item.reservedBy) {
      <p>Забронировано: {{ item.reservedBy }}</p>
    }
  </mat-card-content>
  <mat-card-actions>
    <button (click)="openReservationDialog()" [disabled]="!!item.reservedBy" color="primary" mat-raised-button>
      {{ item.reservedBy ? 'Забронировано' : 'Забронировать' }}
    </button>
  </mat-card-actions>
</mat-card>
