<mat-card class="item-card">
  <mat-card-title>{{ item.title }}</mat-card-title>
  <mat-card-content>
    @if (item.imageData) {
      <img [src]="item.imageData" alt="Изображение подарка" mat-card-image />
    }
    <p>{{ item.description }}</p>
    @if (item.reservedBy) {
      <p><span>Забронировано:</span> {{ item.reservedBy }}, {{ item.reservedAt | date: 'dd.MM.yyyy HH:mm:ss' }}
      </p>
    }
  </mat-card-content>
  <mat-card-actions>
    @if (item.link) {
      <button mat-raised-button><a href="{{ item.link }}" target="_blank">Посмотреть подарок (ссылка)</a></button>
    }
    <button (click)="openReservation.emit(item)" [disabled]="!!item.reservedBy" color="primary" mat-raised-button>
      {{ item.reservedBy ? 'Забронировано' : 'Забронировать' }}
    </button>

    @if (item.reservedBy && item.reservedDeviceId === deviceId) {
      <button (click)="cancelReservation.emit(item)" color="primary" mat-raised-button>Отменить бронирование</button>
    }
  </mat-card-actions>
</mat-card>
